/**
 * CSS変数
 */
/*******************************************************************************
 * 変数
 ******************************************************************************/
/* 配色データ */
:root{
    --bg-body               : #F3ECE1;
    --bg-nav                : #008348;
    --bg-header             : linear-gradient(-45deg, #eeeeeb 25%, #fcfcff 25%, #fcfcff 50%, #eeeeeb 50%, #eeeeeb 75%, #fcfcff 75%, #fcfcff);
    --bg-main               : #F3ECE1;
    --bg-article            : #f8f5f1;
    --bg-footer             : #CFE6DC;
    --color-text            : #222;
    --color-link-tex        : #008348;
    --color-link-hvr        : #EDAD0B;
    --color-list-mark       : #B61972;
    --color-nav-link-tex    : #fff;
    --color-nav-link-hvr    : #00d5ff;
    --color-nav-list-bdr    : #DABBC5;
    --color-article-bdr     : #e1e1e1;
    --color-header-text     : #444;
    --color-footer-text     : #222;
    --h2-bg                 : linear-gradient(-45deg, #eeeeeb 25%, #fcfcff 25%, #fcfcff 50%, #eeeeeb 50%, #eeeeeb 75%, #fcfcff 75%, #fcfcff);
    --h2-border-color       : #008348;
    --h3-bg                 : #008348;
}

/*******************************************************************************
 * 背景の定義 
 ******************************************************************************/
/* 全体 */
body{
    background :var(--bg-body);
}

/* サイトナビ */
nav{
    background :var(--bg-nav);
}

/* ヘッダ */
header {
    background :var(--bg-header);
    background-size: 15px 15px;    
}

/* メイン */
main {
    background:var(--bg-main);
}

/* 記事 */
article {
   background: var(--bg-article);
}

/* フッター */
footer {
    background:var(--bg-footer);
}


/*******************************************************************************
 * サイト全体の定義
 ******************************************************************************/
body
{
    font-family     :'Rounded Mplus 1c', serif;
    color           :var(--color-text);
    font-size       :25px;
}

/*******************************************************************************
 * ナビの定義
 ******************************************************************************/
nav p.logo{
    letter-spacing: 10px;
    line-height: 60px;
    text-indent: 20px;
    float :left;
}

nav ul {
    float:right;
}

nav ul li {
    float :left;
    line-height: 36px;
    font-size:24px;
    padding:0 15px;
    margin:12px 0;
    border-right:4px dotted var(--color-nav-list-bdr);
}

nav a {
    text-decoration: none;
    color: var(--color-nav-link-tex);
}

nav a:hover {
    color:var(--color-nav-link-hvr);
}

nav ul li:last-child {
    border:none;
}

/*******************************************************************************
 * 記事の定義
 ******************************************************************************/
article {
    width:70%;
    margin:50px auto;
    padding:36px;
    border:1px solid var(--color-article-bdr);
}

article section{
    border : 1px solid #000;
}

/* 見出し２ */
article h2 {
    font-size: 36px;
    line-height: 60px;
    font-weight: bold;
    text-indent: 10px;
    border-left: 6px solid var(--h2-border-color);
    border-bottom: 1px solid var(--h2-border-color);
    background:var(--h2-bg);
    margin-bottom:50px;
    background-size: 300px 300px;    
}

/* 見出し３ */
h3{
    position: relative;
    padding-left: 40px;
    font-size:32px;
    font-weight: bold;
    margin-bottom: 10px;
}

h3:before { /* アイコン */
    position: absolute;
    font-family: FontAwesome;
    content: "\f063";
    background: var(--h3-bg);
    color: white;
    font-weight: normal;
    font-size: 15px;
    border-radius: 50%;
    left: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

h3:after { /*吹き出しのちょこんと出た部分*/
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    height: 0;
    width: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 12px solid var(--h3-bg);;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* リンク */
article a{
    text-decoration: none;
    color:var(--color-link-tex);
}

article a:hover{
    color:var(--color-link-hvr);
}

/* リスト */
article ul{
    margin-left:30px;
}

article ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

article ul li:before {
    content: '';
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 100%;
    background: var(--color-list-mark);
    position: relative;
    left: -15px;
    top: -3px;
}

/*******************************************************************************
 * フッターの定義
 ******************************************************************************/
footer {
    color:var(--color-footer-text);
    padding:10px;
    text-align:center;
}

/*******************************************************************************
 * index.php
 ******************************************************************************/
#index #logo {
    text-align:center;
    color:var(--color-header-text);
    padding:50px 0;
}

#index #logo h1 {
    font-size:101px;
    font-weight: bold;
}

#index #logo p {
    font-size:32px;
    font-weight: bold;
}

/*******************************************************************************
 * 共通クラス
 ******************************************************************************/

/* 回り込み解除 */
.clearfix:after{
    display:block;
    clear:both;
    height:0px;
    visibility: hidden;
    content:".";
}
