

/**
 * 共通 General
 */

/* 見出し２*/
h2{
    background:var(--main-color);
    color:#eee;
}



/* 表 */
table{
    border :1px solid #ddd;
}

table tr td, table tr th{
    border:1px solid #ddd;
}

table tr th{
    background:#95DFD6;
    font-weight: bold;
}

/* 強調 */
strong{
    color:#3399FF;
    font-weight: bold;
}

/* 強調 */
em{
    color:#f66;
    font-weight: bold;
}

ul{
    margin-left:30px;
}
ul li {
	list-style-type: none;
}

ul li:before {
	content: '';
	width: 12px;
	height: 12px;
	display: inline-block;
	border-radius: 100%;
	background: #B94E8A;
	position: relative;
	left: -15px;
	top: -3px;
}

ol{
  list-style-type: none;
  counter-reset: li;
}

ol li::before{
counter-increment: li;   /* li の数を一つずつ増加 */
content: counter(li) ". ";          /* 数を表示 */
  margin-right: 5px;
  color: red;
  text-shadow: 1px 1px 2px black;
}

/* 回り込み解除 */
.clearfix:after{
    display:block;
    clear:both;
    height:0px;
    visibility: hidden;
    content:".";
}




/**
 * 共通 header style
 */
nav{
    background-color:#008348;
}

nav p.logo{
    letter-spacing: 10px;
    line-height: 60px;
    text-indent: 20px;
    float :left;
}

nav ul {
    float:right;
}

nav ul li{
    float :left;
    line-height: 36px;
    font-size:24px;
    padding:0 15px;
    margin:12px 0;
    border-right:4px dotted #DABBC5;
}

nav a{
    text-decoration: none;
    color: #fefefe;
}

nav a:hover{
    color:#00d5ff;
}

nav ul li:last-child{
    border:none;
}

/**
 * 共通 footer style
 */
footer {
    background:#CFE6DC;
}

footer p{
    text-align:center;
    font-size:18px;
}


/**
 * 特定 index.php style
 */
header.index{
    padding:100px 0;
    background:linear-gradient(-45deg, #eeeeeb 25%, #fcfcff 25%, #fcfcff 50%, #eeeeeb 50%, #eeeeeb 75%, #fcfcff 75%, #fcfcff);

    background-size: 15px 15px;    
}

header.index h1{
    font-size:101px;
    font-weight: bold;
    text-align:center;
    color:#444;
    /*text-shadow: 0 -2px 2px #004867, -2px 0 2px #FFF, 2px 0 2px #000;  */
}

header.index p.description{
    font-size:32px;
    text-align:center;
    font-weight: bold;
    color:#444;
    /*text-shadow: 0 -1px 1px #111, -1px 0 1px #FFF, 1px 0 1px #000;  */
}

main.index{
    width:1400px;
    margin:0 auto;
}
main.index p.pickup{
    
    text-align:center;
    font-weight: bold;
    color:#93B11D;
    font-size:42px;
    letter-spacing: 20px;
}

main.index div.articles{

}
main.index article{


    border-radius: 10px;
    overflow:hidden;
    background:#eeeef0
}



/**
 * 特定 single.php style
 */
header.single{
    padding:100px 0;
    background:linear-gradient(-45deg, #eeeeeb 25%, #fcfcff 25%, #fcfcff 50%, #eeeeeb 50%, #eeeeeb 75%, #fcfcff 75%, #fcfcff);

    background-size: 15px 15px;    
}

header.single h1{
    font-size:32px;
    border : 2px solid #eee;
    background:#fff;
    border-radius: 8px;    
    width:90%;
    margin: 0 auto;
    padding:10px;
}

header.single div{
    font-size:32px;
}

main.single{
    width:60%;
    margin:0 auto;
    padding:20px;
    border:1px solid #ddd;
    background:#fff;
    border-radius: 10px;
}