/*******************************************************************************
 * single >> category = summary専用CSS
 ******************************************************************************/
article > section {
    width:48%;
    float:left;
    overflow:hidden;
}
article > section:first-child {
    float: left;
}
    
article > section:last-child {
    margin-left:4%;
}

article > section > h3{
    border-bottom:1px dashed #ddd;
    background:#efefef;
    padding: 10px 0 10px 60px;
    margin:0;
}

article > section > h3:before {
    left:15px;
}
article > section > h3:after {
    left:41px;
}
article > section > ol{
    margin: 0 3%;
}

article > section > ol > li {
    border-bottom:1px dashed #ddd;
    line-height:50px;
}

article > section > ol > li:before{
    top:10px;
}